:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    width: 35%;

    .password-field {
      margin-bottom: 30px;

      .mat-hint {
        font-size: 0.8em;

        ul {
          margin: 0;
          padding: 0 0 0 16px;
        }
      }
    }
  }
}
