:host {
  margin-top: 24px;
  width: 40%;

  form {
    display: flex;
    flex-direction: column;

    .mat-form-field {
      margin-bottom: 8px;
    }

    .password-hint {
      color: rgba(0, 0, 0, 0.54);
      font-size: 0.8em;
      margin-top: 0;
      margin-bottom: 8px;
      padding: 0 0 0 16px;
    }
  }

  .submit-content {
    align-items: center;
    display: flex;
    justify-content: center;

    span {
      margin-right: 16px;
    }
  }
}
