<h2>Registration</h2>

<p>Status: {{ registrationForm.status }}</p>

<form class="form-container" [formGroup]="registrationForm" (ngSubmit)="submit()">
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input id="firstName" matInput formControlName="firstName" required />
    <mat-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
      <div *ngIf="firstName.errors.required">
        First name is required
      </div>
      <div *ngIf="firstName.errors.maxlength">
        First name must be maximum 255 characters long
      </div>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input matInput formControlName="lastName" required />
    <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
      <div *ngIf="lastName.errors.required">
        Last name is required
      </div>
      <div *ngIf="lastName.errors.maxlength">
        Last name must be maximum 255 characters long
      </div>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>E-mail</mat-label>
    <input type="email" matInput formControlName="email" required />
    <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">
        Email is required
      </div>
      <div *ngIf="email.errors.email">
        Enter a valid e-mail address
      </div>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="password-field">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password" required />
    <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
      Password must meet the criteria
    </mat-error>
    <mat-hint>
      <ul>
        <li>Should be a minimum of 8 and maximum of 64 characters</li>
        <li>Should contain lower and uppercase letters</li>
        <li>Should not contain user’s first or last name</li>
        <li>Can only contain the following special characters: @$!%*?&</li>
      </ul>
    </mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Confirm password</mat-label>
    <input type="password" matInput formControlName="confirmPassword" required />
  </mat-form-field>

  <button mat-button color="primary" type="submit" [disabled]="!registrationForm.valid">
    Register
  </button>
</form>
